div(style='width:100%;', ng-animate="{enter: 'view-enter', leave: 'view-leave'}")
    section#home
    section.startView
        div.text-center(style='margin: 50px;')
            span(style='color:#fbc412; font-weight: bold;') scroll
            div(style='color:#fbc412; font-weight: bold; -webkit-transform: rotate(90deg);') >
    section#about.pic-text.pictext-right
        div.container
            div.row(style='padding-bottom:50px;')
                div.row.text-center
                    h2 About
            div.col-md-7
                p Innovation is in the DNA of Cybermed
                p 1st in korea to develop 3D medical imaging software
                p 1st asia to develop image guided surgical systems
                p 1st the world to develop cone beam CT imaging software
            div.col-md-5
                p Cybermed is a diversified technology company, focused on improving dental technology through meaningful innovations.
                p We are expanding our product-oriented business to a product-enabled service-oriented one with everything between digital data acquisition and the fabrication of treatment appliances being made possible by our services alone.
    section#partner
        div.container
            div.row(style='padding-bottom:50px;')
                div.row.text-center
                    h2 Partners
            div.col-md-12
                img(src='../images/Main/partners.png')
    a#ondemand3d.col-md-12(target='_top', href='#/ondemand3d-page')
        div.col-md-11
            p
                h2#detail-h2 OnDemand3D
                span(style='font-size:16pt;') The best in digital dentistry
            p
                div.mnpn OnDemand3D™ is a complete imaging solution
                div.mnpn used by dentists, researchers, orthodontists
                div.mnpn and many others.
        div.col-md-1
            span.pull-right >
    a#in2guide.col-md-12(target='_top', href='#/in2guide-page')
        div.col-md-11
            p
                h2#detail-h2 In2Guide
                span(style='font-size:16pt;') Total implant solution
            p
                div.mnpn In2Guide utilizen OnDemand3D's powerful
                div.mnpn 3D engine to create a 3D volume from DICOM data
                div.mnpn for an intuitive way to plan your surgery.
                div.mnpn You can then turn your virtual planning data
                div.mnpn into a real custom made surgical template with depth
                div.mnpn and angle control by ordering directly from In2Guide.
        div.col-md-1
            span.pull-right >
    a#on3dlab.col-md-12(target='_top', href='#/on3dlab-page')
        div.col-md-11
            p
                h2#detail-h2 ON3DLab
                span(style='font-size:16pt;') One stop solution
            p
                div.mnpn ON3D|Lab is the one stop solution for dental laboratories
                div.mnpn that offers a customizable digital workflow solution wtilizing
                div.mnpn state-of-the-art-dental design and manufacturing techniques;
                div.mnpn ranging from digital impression, CAD/CAM design
                div.mnpn to 3D printing and milling services.
        div.col-md-1
            span.pull-right >
    a#surgical-replica.col-md-12(target='_top', href='#/surgical-page')
        div.col-md-11
            p
                h2#detail-h2 Surgical Replica
                span(style='font-size:16pt;') Speedy service & Advanced technology
            p
                div.mnpn founded by members of the Korean Computer
                div.mnpn Aided Radiology and Surgery Group members
                div.mnpn to provide medical modeling & 3D printing services.
                div.mnpn We utilize our own software OnDemand3D's
                div.mnpn powerful 3D engine to create 3D volume
                div.mnpn from DICOM data for and intuitive way to segment,
                div.mnpn fabricate and produce RP model.
        div.col-md-1
            span.pull-right >
    section#contact-us.pic-text.pictext-right.col-md-12
        div.container
            div.row(style='padding-bottom:50px;')
                div.row.text-center
                    h2(style='font-weight: 300; color: #2b2b2b;') Contact Us
            div.col-md-4
                div.contact-box.text-center
                    h2 FAQ
                    p Click here to be directed
                    span to our 
                    span(style='color: #0162c3;') FAQ
                    span page
            div.col-md-4
                div.contact-box.center-block.text-center
                    h2 E-mail
                    p(style='color: #0162c3;') info@ondemand3d.com
                    p(style='color: #0162c3;') insider@cybermed.co.kr
            div.col-md-4
                div.contact-box.pull-right.text-center
                    h2 Phone
                    span KOR:
                    span(style='color: #0162c3;') +82-2-3397-3970(#110)
                    p
                    span USA:
                    span(style='color: #0162c3;') +1-949-341-0623
    section#distributor.pictext-right.col-md-12
        div.col-md-7
            h2 Distributor
            img(src='../images/Main/map.png')
        div.col-md-5
            img(src='../images/Main/distributors.png')