doctype html
html(ng-app='cybermed')
  head
    title="Cybermed"
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/components/bootstrap-css-only/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap-sweetalert/lib/sweet-alert.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic', type='text/css')
    link(rel='stylesheet', href='/components/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/components/owl.carousel/dist/assets/owl.carousel.css')
    link(rel='stylesheet', href='/components/owl.carousel/dist/assets/owl.theme.default.css')
    link(rel='stylesheet', href='/components/ngtoast/dist/ngToast.css')
    link(rel='stylesheet', href='/components/Nivo-Lightbox/nivo-lightbox.css')
    link(rel='stylesheet', href='/components/Nivo-Lightbox/themes/default/default.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/components/jquery.easing/js/jquery.easing.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/components/ngtoast/dist/ngToast.js')
    script(src='/components/angular-sanitize/angular-sanitize.js')
    script(src='/components/angular-animate/angular-animate.js')
    script(src='/components/smoothscroll/smoothscroll.js')
    script(src='/components/owl.carousel/dist/owl.carousel.js')
    script(src='/components/Nivo-Lightbox/nivo-lightbox.js')
    script(src='/components/respond/src/respond.js')
    script(src='/components/retina.js/dist/retina.js')
    script(src='/components/jquery.scrollTo/jquery.scrollTo.js')
    script(src='/components/wow/dist/wow.js')
    script(src='/components/jQuery-One-Page-Nav/jquery.nav.js')
    script(src='/components/jQuery-Storage-API/jquery.storageapi.js')
    script(src='/components/bootstrap-sweetalert/lib/sweet-alert.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controller.js')
    //script(src='/javascripts/script.js')
    
  body(style='font-family: Roboto;')
    header
        div.full-screen
            div.navbar.navbar-default.navbar-fixed-top.navbar-sticky
                div.container
                    div.navbar-header
                        button(type='button', data-toggle='collapse', data-target='#navbar-main').navbar-toggle
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(href='#').navbar-brand
                            img(src='../images/cybermed_white.png')
                    div#navbar-main.navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right.main-navbar
                            li
                                a(href='#about') About
                            li
                                a(href='#/ondemand3d-page') OnDemand3D
                            li
                                a(href='#/in2guide-page') In2Guide
                            li
                                a(href='#/on3dlab-page') ON3D|Lab
                            li
                                a(href='#/surgical-page') Surgical Replica
                            li
                                a(href='#contact-us') Contact Us
                            li
                                a(href='', style='padding-right:2px;') Ko
                            li
                                a(href='', style='padding-left:2px;') En
            
    block content
    footer#footer.col-md-12
        div.container
            div.row
                img(src='../images/Main/footer.png', style='margin-top: 60px; margin-bottom: 30px;')
//                div.col-sm-6
//                div.col-sm-6
//                    p.copyright Cybermed &copy; 2015
