div#in2guide-page
	section.detailView-header.pic-text
		div.container
			p.header-title In2Guide
			div.header-body
				p In2Guide technology uses volumetric image(CT) with advance
				p 3D imaging software to visualize and plan the placement of dental implants.
				p(style='height:28px;')
				p Treat your patients with In2Guide's totals solution;
				p surgical templates, custom abutments and temporary 
			div.header-foot
				button.btn.btn-default Download the brochures
	section#components.pic-text
		div.detailView-small-title.text-center
			h2 Components
			p Introduces Cybermed's Three In2Guide™
		div.container
			div#components-content.col-md-12
				h2 1 | Surgical Template
				div.col-md-4
					img(src='../images/in2/temporary.jpg')
					h3 High quality percision templates
					p In2Guide™ Surgical Template is a mouth guard shaped RP sculpture which controls the drilling location, direction and depth; providing accurate and precise results every time.
				div.col-md-4
					img(src='../images/in2/online.jpg')
					h3 Check your orders online
					p In2Guide™ Surgical Templates are fabricated and deliveredd worldwide within days of ordering.
					p - Email notifications
					p - Preview the surgical guide
					p - Track you order online
				div.col-md-4
					img(src='../images/in2/bio.jpg')
					h3 Bio-compatible material, CE certified and FDA approved
					p In2Guide™ Surgical Templates are made of certified bio-compatible resin, and are completely harmless to the human body. Manufactured under thd ISO 13485 quality management system and certified by the FDA(US), the CE(Europe) and the KFDA(Korea).
			div#components-content.col-md-12
				h2 2 | Surgical Kit
				div.col-md-4
					img(src='../images/in2/universal.jpg')
					h3 In2Guide™ Universal kit
					p With the In2Guide™ Universal Kit and an In2Guide surgical template, the entire surgery can be done from the drilling and implant placement to mounting and immediate loading.
					p In2Guide™ Universal Kit is a 44 piece surgery kit specifically designed for In2Guide surgical templates.
				div.col-md-4
					img(src='../images/in2/basic.jpg')
					h3 In2Guide™ Basic Kit
					p In2Guide™ Basic Kit is a  7 piece surgery kit for ㅁ2.0 pilot drilling with depth conrol.
				div.col-md-4
					img(src='../images/in2/drill.jpg')
					h3 Color-coded sleeved and drills
					p In2Guide™ Universal Kit provides 3 drills with different lengths to support everything from font teeth cases to molar cases.
			div#components-content.col-md-12
				h2 3 | Planning Software
				div.col-md-8
					img(src='../images/in2/ondemand3d-screen.png')
				div.col-md-4
					h3 The Best Imaging Software for Guided Surgery
					p In2Guide™ is built upon OnDemand3D™ and with its intuitive and powerful tools; accurate and predictable surdery planning is just a few easy steps away.
					p In2Guide™ utillizes OnDemand3D™s powerful 3D engine 3D volume from DICOM data for an intuitive way to plan your surgery. Find everything you need for implant surgery from an accurate simulation of the patient's data to marking the nerve and placing implant fixtures.
	section#orderPage.pic-text.text-center
		h3 In2Guide™ Order Page
		p Every order made with In2Guide is stored and saved onto the OnDemand3D server,
		p which you can access using an Internet connection at any time regardless of your location.
		button.btn.btn-default In2Guide order page >>