div#on3dlab-page
	section.detailView-header.pic-text
		div.container
			p.header-title ON3D|Lab
			div.header-body
				p With the help of accumulated experience, know-how, customer feedback
				p and global collaborations over the years, Cybermed is proud to present ON3D|Lab.
				p(style='height:28px;')
				p In addition, with an objective of mutual growth and progress, seminars on
				p cutting-edge digital dentistry solutions as well as periodic training sessions
				p are also provided.
			div.header-foot
				button.btn.btn-default Download the brochures
	section#products.pic-text.col-md-12
		div.detailView-small-title.text-center
			h2 Products
		div.container
			div.col-md-12(style='margin-bottom:70px;')
				div.col-md-3
					img(src='../images/lab/titanium.jpg').wid100
					h3 Tiitanium & Hibrid abutment
				div.col-md-3
					img(src='../images/lab/zirconia.jpg').wid100
					h3 Full zirconia crown
				div.col-md-3
					img(src='../images/lab/CAD-CAM.jpg').wid100
					h3 CAD / CAM temporary
				div.col-md-3
					img(src='../images/lab/framework.jpg').wid100
					h3 Zirconia framework
			div.col-md-12
				div.col-md-3
					img(src='../images/lab/occlusal.jpg').wid100
					h3 Intermediate occlusal splint
				div.col-md-3
					img(src='../images/lab/impression.jpg').wid100
					h3 Impression model & Aligner
				div.col-md-3
					img(src='../images/lab/template.jpg').wid100
					h3 In2Guide surgical template
				div.col-md-3
					img(src='../images/lab/sleeves.jpg').wid100
					h3 Sleeves & Drills
			div.col-md-12
				div.col-md-3
					img(src='../images/lab/print_3Dent.png').he222
					h3 3Dent
					p 3Dent is dental model printer.
					p The touch screen of the plug-and-play operating system.
				div.col-md-3
					img(src='../images/lab/print_micro-ddp.png').he222
					h3 Micro ortho
					p Micro ortho is compact desktop form 3d printer, Making precise crown and coping
				div.col-md-3
					img(src='../images/lab/print_pixcera.png').he222
					h3 Pixcera
					p Pixcera is desktop 3D printer in excellent shape space utilization. Management is easy and low power consumption.
				div.col-md-3
					img(src='../images/lab/print_ULTRA 3SP Ortho.jpg').he222
					h3 Ultra ortho
					p Ultra ortho is used to scan and rotation and selectively photocure technology.
	section#technology.pic-text.col-md-12
		div.detailView-small-title.text-center
			h2 Technology
		div.container
			div.col-md-6
				img(src='../images/lab/3Dprinter.jpg')
			div.col-md-6
				h3 3D printer
				p Use the EnvisionTEC 3D printer to produce digital models and prostheses
				p(style='height:15px;')
				p Cybermed has been providing 3D printed models of human anatimy since 1998, and have since expanded this service to include precision dental models, temporaries, etc.
				p Automated production system of 3Shape CAMbridge™ or Dental Wings DWOS-RPM is supported on all EnvisionTECprinters equipment, as well as you can create a model with a single click in the production of the bes possiible places.
			div.col-md-12
				h4.text-center Prosthetics
				div.col-md-3
					img(src='../images/lab/prosthetics-1.jpg')
					div.col-md-1
						h2 1
					div.col-md-11
						span.bold Scan
						span : Digital impression of the patient's stone model is taken using a 3D model scanner.
				div.col-md-3
					img(src='../images/lab/prosthetics-2.jpg')
					div.col-md-1
						h2 2
					div.col-md-11
						span.bold Virtual design
						span : In2guide software is used to design custom surgical template based on the patient data.
				div.col-md-3
					img(src='../images/lab/prosthetics-3.jpg')
					div.col-md-1
						h2 3
					div.col-md-11
						span.bold Manufacture
						span : Abutments and crowns are fabricated using miling machine.
				div.col-md-3
					img(src='../images/lab/prosthetics-4.jpg')
					div.col-md-1
						h2 4
					div.col-md-11
						span.bold Teeth restoration
						span : Template allows for immediate post-surgical fitting of a temporary prosthesis.
			div.col-md-12
				h4.text-center Orthodontics
				div.col-md-3
					img(src='../images/lab/orthodontics-1.jpg')
					div.col-md-1
						h2 1
					div.col-md-11
						span.bold Scan
						span : Reproducting the patient's mouth using a 3D scanner.
				div.col-md-3
					img(src='../images/lab/orthodontics-2.jpg')
					div.col-md-1
						h2 2
					div.col-md-11
						span.bold Virtual design
						span : Design the prosthesis using a EnvisionTEC 3D printer.
				div.col-md-3
					img(src='../images/lab/orthodontics-3.jpg')
					div.col-md-1
						h2 3
					div.col-md-11
						span.bold Manufacture
						span : Manufacture the model and prosthesis using a EnvisionTEC 3D printer.
				div.col-md-3
					img(src='../images/lab/orthodontics-4.jpg')
					div.col-md-1
						h2 4
					div.col-md-11
						span.bold Medel
						span : Manufacture the temporary tooth, orthodontic appliance using a variety of materials.
	section#lucent.pic-text.col-md-12
		div.container
			div.col-md-7
				h2 LUCENT DENTAL
				h3 Art & Technology center
				p(style='height:40px;')
				p Lucent Dental Art and Technology Center is a CAD / CAM lab service center located in Seoul, Korea.
				p Through the ON3D|Lab solution, Lucent Dental provides innovative digital design and manufacturing services for prosthetics and orthodontics.
				p(style='height:40px;')
				p 1512, 278, Beotkkot-ro, Geumcheon-gu, Seoul, Korea
				p Tel : +82-2-3397-3528
			div.col-md-5.pic-text.pic-text-right
				img(src='../images/Main/arrow_white.png', style='width:20px;')