div#ondemand-page
	section.detailView-header.pic-text
		div.container
			p.header-title OnDemand3D
			div.header-body
				p OnDemand3D™ is a world leading 3D imaging software that delivers
				p state-of-the-art innovations with a variety of groundbreaking dental
				p solutions in Digital Dentistry.
				p(style='height:28px;')
				p Each OnDemand3D module is designed for use in a specific dentistry field.
				p Take a look at what we have to offer and create your own custom package
				p to fit your diagnostic or research needs.
			div.header-foot
				button.btn.btn-default Download the brochures
	section#features.pic-text
		div.detailView-small-title.text-center
			h2 Features
		div.container-features
			div.pre-btn
				input(type='image', src='../images/on3d/pre_arrow.png', ng-click='preSlideFea()', onfocus='this.blur()')
			div.next-btn.pull-right
				input(type='image', src='../images/on3d/next_arrow.png', ng-click='nextSlideFea()', onfocus='this.blur()')
			div#features-carousel.owl-carousel.owl-theme
				div#1998.container(style='width:100%;')
					div.row.col-md-12
						div.col-md-7.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
							div
								img#features-img(src='../images/on3d/feature.png', style='margin-left: -30px;')
						div.col-md-5
							img#features-img2(src='../images/on3d/feature-context.png')
				div#1998.container(style='width:100%;')
					div.row.col-md-12
						div.col-md-7.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
							div
								img#features-img(src='../images/on3d/feature.png', style='margin-left: -30px;')
						div.col-md-5
							img#features-img2(src='../images/on3d/feature-context.png')
	section#packages.pic-text
		div.detailView-small-title.text-center
			h2 Packages
		div.container
			img(src='../images/on3d/on3d-context.png')
	section#technical.pic-text
		div.detailView-small-title.text-center
			h2 Technical Specification
		div.container
			img(src='../images/on3d/specific-context.png')