div#surgical-page
	section.detailView-header.pic-text
		div.container
			p.header-title Surgical Replica
			div.header-body
				p 3D printing solution for medical anatomy and dental medels. Optimized for
				p use in diagnostics, pre-surgery treatment planning, and patient aducation.
				p(style='height:28px;')
				p There are dimensional and visual restrictions when planning a surgery using
				p 2D or 3D imagesand to overcome these difficulties, a replica of the desired
				p organ can be fabricated through CT or MRI scans.
			div.header-foot
				button.btn.btn-default Download the brochures
	section#technology-sur.pic-text
		div.detailView-small-title.text-center
			h2 Technology
		div.container
			div.col-md-12
				div.col-md-6
					img(src='../images/sr/RPmodel.jpg')
				div.col-md-5.col-md-offset-1
					h3 RP model
					p Fastest RP model fabrication worldwide using Z CORP & OBJET printing machines
					p(style='height: 28px;')
					p The replica then allows the surgeons to see the actual organ in real-size for shorter and much more precise treatment planning.
					p
						span.bold Diagnosis & Planning
						span : Surgeons can establish a precise diagnosis and create an intuitive treatment plan on the 3D model.
					p
						span.bold Customized template
						span : Surgeons can reduce the operation time by using customized RP.
					p
						span.bold Surgical simulation
						span : RP can be used for sugical simulation in Malformation, Maxillofacial and Orthopedic surgeries etc.
					p
						span.bold Research & Study
						span : Patient skull can be modeled in actual or reduced size and widely used for case reports and medical records.
			div.col-md-3
				img(src='../images/sr/diagnosis.jpg')
			div.col-md-3
				img(src='../images/sr/simulation.jpg')
			div.col-md-3
				img(src='../images/sr/template.jpg')
			div.col-md-3
				img(src='../images/sr/research.jpg')
	section#orderPage.pic-text.text-center
		h3 Surgical Replica Order Page
		p Order your RP model online.
		button.btn.btn-default RP model order page >>